n8n-workflow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "incoming-email-trigger",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -220,
        -240
      ],
      "id": "webhook-trigger",
      "name": "Webhook (Incoming Email)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:5000/api/incoming-claim",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"sender_email\": \"{{ $json.body.email }}\", \"raw_text\": \"{{ $json.body.message }}\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        -240
      ],
      "id": "http-flask-backend",
      "name": "Send to Flask AI Parser"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "new-claim-trigger",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "new-claim-webhook",
      "name": "Webhook (New Claim from Flask)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "type": "string"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.status || $json.body.status }}",
              "rightValue": "Requires Human Review",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        300,
        -100
      ],
      "id": "check-status",
      "name": "If Needs Review?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"chat_id\": \"{{ $env.TELEGRAM_CHAT_ID }}\", \"parse_mode\": \"Markdown\", \"text\": \"⚠️ *Attention Required!* ⚠️\\n\\nA new insurance claim requires human review!\\n\\n👤 *Client:* {{ $json.client_name || $json.body.client_name || 'Unknown' }}\\n📧 *Email:* {{ $json.sender_email || $json.body.sender_email }}\\n💰 *Estimated Damage:* {{ $json.damage_estimation || $json.body.damage_estimation || 'Not specified' }}\\n📝 *Summary:* {{ $json.ai_summary || $json.body.ai_summary }}\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        580,
        -200
      ],
      "id": "telegram-alert",
      "name": "Telegram: Send Alert"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        580,
        0
      ],
      "id": "auto-process",
      "name": "Add to Google Sheets / CRM"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "status-update-trigger",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -220,
        220
      ],
      "id": "status-webhook",
      "name": "Webhook (Status Update)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"chat_id\": \"{{ $env.TELEGRAM_CHAT_ID }}\", \"parse_mode\": \"Markdown\", \"text\": \"🔔 *Claim Status Updated* 🔔\\n\\nClaim *#{{ $json.body.id }}* has been processed!\\n\\n👤 *Client:* {{ $json.body.client_name || 'Unknown' }}\\n📋 *Claim Type:* {{ $json.body.claim_type }}\\n🏷️ *New Status:* *{{ $json.body.status }}*\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        120,
        220
      ],
      "id": "telegram-status-update",
      "name": "Telegram: Status Update"
    }
  ],
  "connections": {
    "Webhook (Incoming Email)": {
      "main": [
        [
          {
            "node": "Send to Flask AI Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Flask AI Parser": {
      "main": [
        [
          {
            "node": "If Needs Review?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook (New Claim from Flask)": {
      "main": [
        [
          {
            "node": "If Needs Review?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Needs Review?": {
      "main": [
        [
          {
            "node": "Telegram: Send Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add to Google Sheets / CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook (Status Update)": {
      "main": [
        [
          {
            "node": "Telegram: Status Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
